html {
    background-image: url("../img/fundo1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    }
    
body, .container {
    height: 100%;
    
}

img {
    max-width: 100%;
}



header {
    height: 10%;
    padding-top: 8%;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 35px;
}



main {
    height: 80%;
    padding-top: 50%;  
    font-family: 'Shojumaru', cursive;
    
}

.footer {
    height: 10%;
    color: #f7f8f9;
    
}



@media screen and (min-width: 450px) {

html {
    height: 100%;
}
header{
    padding-top: 0px;
}
main {
    padding-top: 145px;
}
fotter {
    padding-bottom: 0px;
}
}


@media screen and (min-width: 600px) {


main {
    padding-top: 0px;

}
